  
      <!-- Start Navigation -->
      <nav class="rgba-nav navbar navbar-default navbar-fixed navbar-transparent white bootsnav">
          <div class="container">
              <!-- Start Header Navigation -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                      <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand" href="index.html">
                      <img src="../assets/images/brand/logo-white.png" class="logo logo-display" alt="">
                      <img src="../assets/images/brand/logo-black.png" class="logo logo-scrolled" alt="">
                  </a>
              </div>
              <!-- End Header Navigation -->
              <!-- Start Atribute Navigation -->
              <div class="attr-nav">
                  <ul>
                      <!--                        <li class="button btn-margin-left">
                                                  <a href="#" class="button btn btn-md btn-default btn-outline-dark radius5">
                                                      <i class="far fa-comments fa-lg"></i>Livechat</a>
                                              </li>-->
                      <li class="side-menu">
                          <a href="#">

                              <i class="fa fa-align-right fa-lg"></i>
                          </a>
                      </li>
                  </ul>
              </div>
              <!-- End Atribute Navigation -->

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="navbar-menu">
                  <ul class="nav navbar-nav navbar-left" data-in="slideInUp" data-out="slideOutUp">

                      <li>
                          <a routerLink="/Home" class="active" href="#">Home</a>
                      </li>
                      <li class="dropdown">
                          <a routerLink="/About" class="submenu dropdown-toggle" data-toggle="dropdown">About</a>
                          <ul class="dropdown-menu">

                              <li>
                                  <a routerLink="/About" href="">About</a>
                              </li>
                              <li>
                                  <a routerLink="/Services">Services </a>
                              </li>
                              <li>
                                  <a href=""> Credit Card</a>
                              </li>

                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="submenu dropdown-toggle" data-toggle="dropdown">Our Services</a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="">IT Services</a>
                              </li>
                              <li>
                                  <a href="">Financial Consultancy </a>
                              </li>


                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="submenu dropdown-toggle" data-toggle="dropdown">About Us</a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="company.html">Our Company</a>
                              </li>
                              <li>
                                  <a href="contact-us.html">Contact Us</a>
                              </li>

                          </ul>
                      </li>


                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <div class="side">
              <a href="#" class="close-side">
                  <i class="fa fa-times"></i>
              </a>
              <div class="widget">
                  <h6 class="title">Maroon Bells Holdings</h6>
                  <p>Maroon Bells houses a team of seasoned & passionate professionals from diverse industry backgrounds like IT, Finance, Investment and new age E-com and E-Money. Our team takes great pride in offering the best of IT solutions and financial consultancy services to the industries across all segments- SMEs, large organizations and startups all around the world that supports their emerging business & technology requirements.</p>
              </div>
              <div class="widget">
                  <h6 class="title">Contact Us</h6>

                  <ul class="link">
                      <li>
                          Maroon Bells Holdings Pte. Ltd. <br>6 Raffles Boulevard Marina Square, #03-304 to 327 Singapore 039594
                      </li>
                      <li>
                          Mob: +65 6932 2640  
                      </li>
                      <li>
                          Wapp: +65 8359 2844
                      </li>
                      <br>                      
                  </ul>                  
                  <ul class="link">                      
                      <li>
                          <a href="#">LiveChat</a>
                      </li>
                      <li>
                          <a href="#">Get Directions</a>
                      </li>
                      <li>
                          <a href="mailto:info@maroonbells.io">Email: info@maroonbells.io</a>
                      </li>

                  </ul>
              </div>
          </div>
      </nav>
      <!-- End Navigation -->