
     <app-navbar></app-navbar>
     <router-outlet></router-outlet> 

    <section class="section9">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-12 left-image">
                    <img src="images/jpg/section9.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-lg-7 col-sm-12">
                    <div class="title text-left">
                        <h2>
                            <span class="red-color">We</span>  are Maroon Bells Holdings</h2>
                        <p>We constantly strives to anticipate the rapidly changing needs of today’s diverse business enterprises and bring out solutions with prolific brainstorming and unmatched professional expertise in the domains of Business, Finance and Technology. </p>
                    </div>
                    <div class="row">
                        <div class="text-container">
                            <div class="col-sm-6">
                                <div class="text aos-init aos-animate" data-aos="fade-up">
                                    <img src="images/icons/1.png" class="img-responsive" alt="">
                                    <h4>Financial &amp; investment strategies</h4>
                                    <p>We help you define winning financial strategies and guide to align actions with your long-term objectives.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                                    <img src="images/icons/4.png" class="img-responsive" alt="">
                                    <h4>Critical business processes</h4>
                                    <p>Advanced business solutions designed to address diverse enterprise needs across various industry domains.</p>
                                </div>
                            </div>
                            <div class="row2">
                                <div class="col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                                    <div class="text">
                                        <img src="images/icons/5.png" class="img-responsive" alt="">
                                        <h4>E-commerce business solutions </h4>
                                        <p>Empowers with cutting-edge technology needed to promote your business online and be successful with your venture.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                                    <div class="text">
                                        <img src="images/icons/6.png" class="img-responsive" alt="">
                                        <h4>End-to-end IT solutions</h4>
                                        <p>Increased efficiency in work processes which facilitates seamless integration with future technology requirements.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>